<!DOCTYPE html>
<html lang="sv" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Växla Tema</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="light-theme">
<h1>Välkommen till min hemsida!</h1>
<p>Denna sida har möjlighet att växla mellan ljus och mörkt tema.</p>

<button id="theme-toggle-btn">Växla Tema</button>

<script src="/js/script.js"></script>
</body>
</html>
